*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   
    
   
}

header{
    position: fixed;
    background: #666666;
    padding: 20px;
    width: 100%;
    height: 30px;
    
}

.left_area h3{
    color: #FFCC00;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;

}

.left_area span{
    color:#FFCC00;
}

.logout_btn{
    padding: 5px;
    background: #666666;
    text-decoration: none;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.5s;
    transition-property: background;
    float: right;
}

.logout_btn:hover{
    background: #FFCC00;
}

.sidebar{
    background: #FFCC00;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    z-index: 999 !important;
}

.sidebar .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    position: relative;
    left:70px;
}

/*.sidebar h4{
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 20px;
}*/

.sidebar a{
    color: #0437F2;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 600;
}

.sidebar a:hover{
    background: #ffffff;
}

.sidebar i{
    padding-right: 10px;
}

label #sidebar_btn{
    z-index: 1;
    color: #ffffff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover{
    color: #FBE551;
}

#check:checked ~ .sidebar{
    left: -190px;
}

#check:checked ~ .sidebar a span{
    display: none;
}

#check:checked ~.sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

.content{
    margin-left: 250px;
    background: url(Images/lpb8.jpg) no-repeat;
 background-position:center;
    background-size: cover;
    height: 100vh;
    width: 130%;
    
    
    /*transition: 0.5s;*/
}



#check:checked ~ .content{
    margin-left: 60px;
}

#check{
    display: none;
}

.content1 h1{
    text-align: center;
    color: #666666;
    position: absolute;
    top:100px;
    right: 300px;
    font-size: 50px;
    font-weight: 800;
    
    
}

.btn_delete{
    padding: 5px;
    background: rgb(108, 16, 16);
    text-decoration: none;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.5s;
    transition-property: background;
    
}

.btn_delete:hover{
    background: #666666;
}

.btn_edit{
    padding: 5px;
    background: rgb(13, 93, 37);
    text-decoration: none;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.5s;
    transition-property: background;
}

th{
    padding: 20px;
    font-size: 20px;
    color: #666666;
   position: sticky;
   

   
    
    
}

 td{
    padding: 20px;
    background-color: #FFCC00;
    position: sticky;
}

.form-control{
    position: absolute;
    top: 250px;
    right: 730px;
    width: 500px;
    height: 30px;
}

.btn-submit{
    position: absolute;
    top: 250px;
    right: 620px;
    width: 100px;
    height: 35px;
    color: #ffffff;
    background-color: #FFCC00;
    font-size: 20px;
    font-weight: 600;
}
.card-title{
    position: absolute;
    top: 200px;
    right: 450px;
    font-size: 30px;
    font-weight: 600;
    color: #666666;
}


